{% extends 'base/base.html' %}
{% load static %}
{% block content-header %}
  <h1> {{request.user.onidc.name}}
    <small>{{request.user.onidc.desc}}概览</small>
  </h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'prophetcore:index' %}"><i class="fa fa-dashboard"></i>
  {% if meta %}{{meta.logo}}{% else %}仪表盘{% endif %}
</a></li>
<li class="active">仪表盘</li>
{% endblock %}
{% block main-content %}

<div class="row">
  {%for item in state_items%}
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon {{item.icon_color}}"><i class="fa {{item.icon}}"></i></span>
      <div class="info-box-content">
        <a href="{%url 'prophetcore:list' item.model_name%}">
          <span class="info-box-text">{{item.verbose_name}}</span>
        </a>
        <span class="info-box-number">{{item.count}}<small> {{item.metric}}</small></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  {%endfor state_items%}
  <div class="clearfix visible-sm-block"></div>
</div>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">测试对象统计数据</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>

  <div class="box-body">
    <div class="row">

      <div class="col-md-7 col-xs-12">
        <div id="actived_statistics" style="min-width:320px;height:400px"></div>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-5 col-xs-12">
        <div id="running_statistics" style="min-width:320px;height:400px"></div>
      </div>

    </div>
  </div>
</div>

{%endblock%}
{% block extra-js %}

<script src="{%static 'prophetcore/js/highcharts.js'%}"></script>
<script>
// Build the chart

Highcharts.chart('actived_statistics', {
    colors: ['#f39c12', '#00a65a', '#dd4b39'],
	chart: {
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false,
		type: 'pie'
	},
	title: {
		text: '测试状态统计'
	},
  tooltip: {
      headerFormat: '{series.name}<br>',
      pointFormat: '{point.name}: <b>{point.y} 个</b>'
  },
  plotOptions: {
      pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
              enabled: true,
              // 通过 format 或 formatter 来格式化数据标签显示
              //format: '值: {point.y} 占比 {point.percentage} %',
              formatter: function() {
                  //this 为当前的点（扇区）对象，可以通过  console.log(this) 来查看详细信息
                  return '<span style="color: ' + this.point.color + '"> '+this.point.name+'：' + this.y + ' 个</span>';
              }
          },
          showInLegend: true  // 显示在图例中
      }
  },
	series: [{
		name: '按测试状态统计',
		colorByPoint: true,
		data: [{% for os in actived_statistics %}["{{os.0}}",{{ os.1 }}],{% endfor %}]
	}]
});

Highcharts.chart('running_statistics', {
    //colors: ['#f39c12', '#a60f0d', '#a60800', '#0011a6', '#00a69a', '#04a601', '#a5a602', '#a65e01'],
	chart: {
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false,
		type: 'pie'
	},
	title: {
		text: '对象类别统计'
	},
  tooltip: {
      headerFormat: '{series.name}<br>',
      pointFormat: '{point.name}: <b>{point.y} 个</b>'
  },
  plotOptions: {
      pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
              enabled: true,
              // 通过 format 或 formatter 来格式化数据标签显示
              //format: '值: {point.y} 占比 {point.percentage} %',
              formatter: function() {
                  //this 为当前的点（扇区）对象，可以通过  console.log(this) 来查看详细信息
                  return '<span style="color: ' + this.point.color + '"> '+this.point.name+'：' + this.y + ' 个</span>';
              }
          },
          showInLegend: true  // 显示在图例中
      }
  },
	series: [{
		name: '按类别统计',
		colorByPoint: true,
		data: [{% for os in running_statistics %}["{{os.0}}",{{ os.1 }}],{% endfor %}]
	}]
});

$("svg.highcharts-root text.highcharts-credits").remove();
</script>
{% endblock %}
